<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.fenhua.android.badminton.scoreboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="SingleReg"
            android:label="@string/registration_view_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="DoubleReg"
            android:label="@string/registration_view_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="SingleScore"
            android:label="@string/match_view_title"
            android:parentActivityName=".SingleReg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="Statistics"
            android:label="Statistics"
            android:parentActivityName=".SingleScore"
            android:theme="@style/AppTheme" />
        <activity
            android:name="SingleScore3"
            android:label="@string/match_view_title"
            android:parentActivityName=".SingleReg"
            android:theme="@style/AppTheme" />

        <activity
            android:name="DoubleScore"
            android:label="@string/match_view_title"
            android:parentActivityName=".SingleReg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SingleMatchSummary"
            android:label="@string/match_summary_title"
            android:parentActivityName=".SingleScore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoubleMatchSummary"
            android:label="@string/match_summary_title"
            android:parentActivityName=".DoubleScore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
